{% extends 'layout.twig' %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <h1> Mentoring <img src="http://ellesesiea.esy.es/app/views/img/logo.png" alt="text alternatif"/></h1>

                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <img src="http://ellesesiea.esy.es/app/views/img/img2.jpg" alt="text alternatif"/>
                    </div>
                    <div class="col-xs-4 col-sm-6">
                        <p> Lorem ipsum dolor sit met, consectetur adipiscing elit. Maecenas aliquet, diam vitae porta porta, velit tellus faucibus nisi, quis posuere ipsum sem id orci. Morbi viverra vulputate nisl mollis finibus. Cras feugiat elit non fringilla mollis. Etiam sit amet sagittis mi. Nulla facilisi. Ut pretium est ut metus placerat dapibus. </p>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}