{% extends 'layout.twig' %}

{% block content %}

   <div class="container-fluid">
    <div class=".col-md-9 .col-md-push-3">
            <div class="col-xs-6 .col-sm-4">
                <h1> Show all <img src="http://ellesesiea.esy.es/app/views/img/logo.png" alt="text alternatif"/></h1>

 <div class="row">

 
<h3> Show all </h3>

       </div>       


        </div>
     
    </div>
    </div>
</div>
{% endblock %}