{% extends 'layout.twig' %}

{% block content %}

   <div class="container-fluid">
    <div class=".col-md-9 .col-md-push-3">
            <div class="col-xs-6 .col-sm-4">
                <h1> Update <img src="http://ellesesiea.esy.es/app/views/img/logo.png" alt="text alternatif"/></h1>

 <div class="row">
<form action=" {{ path_for('update') }} " method="post">
<h3> Update </h3>
<div class="form-group>
<p><label for="update-id">Enter an id to update in the list </label><input type="number" name="update-id" /></p>
<p><label for="updatename">Enter a new name</label><input type="text" name="updatename" /></p>
 <p><input type="submit" value="UPDATE"></p>
</div>
</form>

   <div class=".col-md-9 .col-md-push-5">
 <a href="http://ellesesiea.esy.es/index.php/show">  <h1> click to see </h1> </a>

  </div>  

        </div>
     
    </div>
    </div>
</div>
{% endblock %}